<h1>Productos</h1>

<% @products.each do |product| %>
  <h2>
    <%= link_to product_path(product.id), class: 'product' do %>
      <%= product.title %>
    <% end %>
  </h2>
  <span><%= product.price %></span>
<% end %>